@import "../colors";

.auth-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.auth {
  text-align: left;
  display: flex;
  flex-flow: column;

  background: #333;
  border-bottom: 5px solid #444;
  padding: 1rem;

  gap: 1rem;
  margin-bottom: 5rem;

  width: 100%;
  max-width: 400px;
}

.auth__logo {
  flex: auto;
  margin: 1rem auto;
  width: 100%;
  max-width: 170px;
  max-height: 85px;
}

.auth__content {
  display: flex;
  flex-flow: column;
  flex: auto;
  gap: 1rem;
}

.auth__title {
  display: block;
  width: 100%;
  font-size: 2.5rem;
  color: darken($primary, 5);
  opacity: 0.25;
  font-weight: 900;
}

.auth__content__subtitle {
  color: #444;
  font-size: 1.5rem;
}

.auth-error {
  background-color: $primary;
  padding: 0.5rem;
  color: #FFFFFF;
  font-weight: 700;
  animation: 0.2s ease error-shake;
}

@keyframes error-shake {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(7px);
  }
  50% {
    transform: translateX(-9px);
  }
  70% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@media all and (max-width: 400px) {
  .auth {
    height: 100%;
    margin-bottom: 0;
    justify-content: center;
  }

  .auth__content {
    flex: none;
  }
}