@import "../colors";

.browser-error {
  flex: auto;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.browser-error__title {
  font-weight: 900;
  color: white;
}

.browser-error__text {
  color: #999;
}

.browser {
  flex: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.browser__path {
  display: flex;
  align-items: stretch;
}

.browser__toolbar {
  display: flex;
}

.browser__path__input {
  margin-top: 0;
  color: #999;
}

.browser__toolbar__button {
  padding: 0.5rem 1rem;
}

.browser__toolbar__button > .icon {
  fill: white;
  width: 32px;
  height: 32px;
}

.browser__list {
  flex: auto;
  overflow-y: auto;

  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  background-color: #111;

  padding: 1rem;
}

.browser__item {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.browser__item__name {
  color: #999;
}

.browser__item__size {
  color: #666;
}

.browser__item--file {
  cursor: not-allowed;
}

.icon {
  transition: fill 0.15s ease;
}

.browser__item:hover .icon {
  fill: $primary;
}

.browser__item:hover .browser__item__name {
  color: $primary;
}


@media all and (max-width: 1000px) {
  .browser {
    display: none;
  }

  .browser-error {
    display: none;
  }
}

