@import "../colors";

.heading {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #333;
  border-bottom: 5px solid #444;
}

.heading__logo {
  margin-bottom: 0.5rem;
}

.heading__title {
  color: $primary;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0.25rem;
  text-shadow: 1px 1px 0 darken($primary, 30);
}

.heading__subtext {
  color: #777;
  text-shadow: 1px 1px 0 #111;
}

.heading__logout {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: block;
  border-bottom: none;
  width: 100%;
}

@media all and (max-width: 360px) {
  .heading__title {
    display: none;
  }

  .heading__logo {
    max-height: 64px;
  }

  .heading {
    flex-flow: column;
  }
}